.notFound {
    padding: 100px 0;
}

.notFound__fourOFour {
    text-align: center;
}

.notFound__fourOFour h2 {
    font-size: 150px;
    color: #845ec2;
}

.notFound__desc {
    text-align: center;
}

.notFound__desc p {
    font-size: 30px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
    text-transform: capitalize;
}